In [10]:
import pandas as pd
import numpy as np

In [13]:
arrest_totals = "../Extracts/arrest_totals.csv"

In [14]:
arrests_df=pd.read_csv(arrest_totals)

In [16]:
arrests_df.tail()

,AGENCY_ID,OFFENSE_TYPE_ID,UCR_AGENCY_NAME,COUNTY_NAME,OFFENSE_NAME,INCIDENT_COUNT,COUNTY_CODE
607,19756,55,AUSTIN,"['WILLIAMSON', ' TRAVIS']",Incest,1,"[246, 227]"
608,19825,55,VERNON,['WILBARGER'],Incest,1,[244]
609,19870,55,HOUSTON,"['MONTGOMERY', ' FORT BEND', ' HARRIS']",Incest,1,"[170, 79, 101]"
610,19498,33,WACO,['MCLENNAN'],Peeping Tom,2,[155]
611,19752,33,SAN ANGELO,['TOM GREEN'],Peeping Tom,1,[226]

In [17]:
offense_df=arrests_df[["COUNTY_CODE","OFFENSE_TYPE_ID","INCIDENT_COUNT"]]
offense_df

        COUNTY_CODE  OFFENSE_TYPE_ID  INCIDENT_COUNT
0               [2]                3               1
1               [4]                3               2
2              [14]                3               2
3              [14]                3               1
4              [21]                3               1
..              ...              ...             ...
607      [246, 227]               55               1
608           [244]               55               1
609  [170, 79, 101]               55               1
610           [155]               33               2
611           [226]               33               1

[612 rows x 3 columns]

In [18]:
offense_df.to_csv("../Resources/offense_county.csv")