In [22]:
import pandas as pd

In [23]:
arrest_totals = "arrest_totals.csv"

In [24]:
arrests_df=pd.read_csv(arrest_totals)

In [25]:
arrests_df.tail()

,AGENCY_ID,OFFENSE_TYPE_ID,UCR_AGENCY_NAME,COUNTY_NAME,OFFENSE_NAME,INCIDENT_COUNT,COUNTY_CODE
607,19756,55,AUSTIN,"['WILLIAMSON', ' TRAVIS']",Incest,1,"[246, 227]"
608,19825,55,VERNON,['WILBARGER'],Incest,1,[244]
609,19870,55,HOUSTON,"['MONTGOMERY', ' FORT BEND', ' HARRIS']",Incest,1,"[170, 79, 101]"
610,19498,33,WACO,['MCLENNAN'],Peeping Tom,2,[155]
611,19752,33,SAN ANGELO,['TOM GREEN'],Peeping Tom,1,[226]

In [26]:
offense_df=arrests_df[["COUNTY_NAME","COUNTY_CODE","OFFENSE_TYPE_ID","OFFENSE_NAME","INCIDENT_COUNT"]]
offense_df.sort_values(by="COUNTY_NAME")

,COUNTY_NAME,COUNTY_CODE,OFFENSE_TYPE_ID,OFFENSE_NAME,INCIDENT_COUNT
0,['ANDREWS'],[2],3,Statutory Rape,1
50,['ANDREWS'],[2],36,Rape,2
238,['ANDREWS'],[2],56,Fondling,2
51,['ANGELINA'],[3],36,Rape,9
1,['ARANSAS'],[4],3,Statutory Rape,2
...,...,...,...,...,...
533,['WISE'],[249],4,Sexual Assault With An Object,1
490,['WISE'],[249],30,Prostitution,1
448,['YOUNG'],[252],8,Pornography/Obscene Material,1
581,['YOUNG'],[252],43,Sodomy,1
230,['ZAVALA'],[254],36,Rape,1